/* You can add global styles to this file, and also import other style files */
@import "https://unpkg.com/spectre.css/dist/spectre.min.css";
@import "https://unpkg.com/spectre.css/dist/spectre-exp.min.css";
@import "https://unpkg.com/spectre.css/dist/spectre-icons.min.css";

.toast {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 250px;
  text-align: center;
  padding: 10px;
  color: white;
  opacity: 0.8;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

body {
  padding: 20px;
}

textarea.form-input.je-edit-json--textarea {
  width: 20rem;
  height: 20rem;
  resize: both;
  min-width: none;
  min-height: none;
}

.columns > div:first-child {
  padding-left: 0.4rem;
}
